
/* 1 HEADER section  */

*{border-radius: 10px;}
body{
    display: flex;
    flex-direction: column;
}



.header{
    background-color:#1F2937;
    padding: 40px;
    display: flex;
    gap: 200px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

button{
    background-color: rgb(17, 5, 126);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.header-sub1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 1;

}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-left: 100px;
}
li{
    color: white;
    font-size: 20px;
}

img{
    max-width: 300px;
    height: auto;
    margin-top: 50px;
}

.header-sub2{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.sub1-content{
    margin-top: 50px;
}
.sub1 p{
    margin-top: -15px;
}


/* 2 DESCRIPTION section  */


.description{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    flex: 1;
}

h1{
    font-weight: bold;
}


.boxes{
 display: flex;
 max-width: 800px;
 gap:30px;
}
.boxes .cards{
    margin-top: 100px;
    max-width: 150px;
    max-height: 150px;
    border: solid 5px rgb(222, 222, 242);
    flex: 1;
    border-radius: 10px;
}



/* 3 QUOTE section  */

.quote{
    display: flex;
    background-color:#d8d6d6;
    justify-content: center;
    flex: 1;
}

.quote-text{
    max-width: 600px;
    font-size: 30px;
    font-style: italic;
    align-items: end;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.author{
    margin-top: -20px;
    font-size: 25px;
    font-weight: bold;
}



/* 3 SINGUP section  */

.signup{
   
    display: flex;
    padding: 100px 250px;
    justify-content: center;
}

.signupbox{
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 20px;
    background-color: #3f3fdd;
    min-width: 600px;
    min-height: 100px;
    padding: 50px;
    padding-left: 100px;
    flex: 1 1 auto;
}

.signupbox button{

    align-self: flex-end;
    margin-top: -80px;
    margin-bottom: 30px;
    background-color: #3f3fdd;
    border: solid 4px white;
    width: 100px;
}

.signupbox p{
    flex: 1;
    margin-top: -10px;
}



