body{
    display: flex;
    flex-direction: column;
}



.header{
    background-color:#1F2937;
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex: 1;
    gap: 350px;
}

button{
    background-color: rgb(17, 5, 126);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-sub1{
    color: white;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;

}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-left: 200px;
}

img{
    max-width: 450px;
    height: auto;
    margin-top: 50px;
}

.header-sub2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 60px;
}

.sub1-content{
    margin-top: 50px;
}
.sub1 p{
    margin-top: -15px;
}